/* CSS file for my portfolio*/

/* General styling */
body {
  background-color: #212529;
  color: #e9ecef;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
}

h1 {
  font-size: 5rem;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

/* Introduction */
.introduction-image {
  padding-bottom: 0;
  mask-image: radial-gradient(ellipse at center, #212529 10%, transparent 65%);
  -webkit-mask-image: radial-gradient(ellipse at center, #212529 10%, transparent 65%);
}

.about_me {
  padding-bottom: 30vh;
}

/* Project work */
.backend {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 10vh;
}

.frontend {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 10vh;
}

.content-wrapper {
  box-sizing: content-box;
  border: 0.2rem solid #e9ecef;
  border-radius: 1rem;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 50vw;
}

/* Mobile compatibility */
@media (max-width: 1100px) {
  .content-wrapper {
    width: 83%;
  }
  
}

@media (max-width: 740px) {
  
  .introduction-image {
    margin-left: -15vw;
  }
}